body {
    background:steelblue;
    color:white;
    font-family: "Mulish", sans-serif;

    display:flex;
    flex-direction: column;
    align-items: center;
}

table, th, td {
    border: 4px solid white;
    border-collapse: collapse;
    padding: 4px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}


.form-group {
    gap: 10px;
}

.form-buttons {
    margin-top: 10px;
}

#showtable {
    margin-top: 10px;
}

hr {
    width:100%;
    margin-top:10px;
}